<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Activities</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>

        <div class="space-y-6 mx-8 my-6">
            <label class="p-2 text-orange-500 bg-gray-200 text-sm">Activities</label>
            <div class="flex items-center">
                <form th:action="@{/activities/create-activity}" method="get" class="flex flex-grow items-center">
                    <button type="submit" class="w-10 h-10 cursor-pointer"><img src="/images/anadir.png"></button>
                </form>

                <div class="flex items-center">
                    <form th:action="@{/filtered-activities-by-name}" method="get" class="flex items-center">
                        <input type="text" id="name" name="name" class="w-80 h-10 border border-gray-800 rounded-md">
                        <button type="submit" class="w-10 h-10 cursor-pointer rounded-md bg-teal-500">
                            <img src="/images/lupa.png">
                        </button>
                    </form>
                </div>
            </div>
            <div class="flex items-center">
                <form class="flex flex-grow items-center">
                    <button type="submit" class="bg-neutral-500 text-white p-1.5 text-sm rounded-md font-bold cursor-pointer">Add Participants</button>                   
                </form>

                <form th:action="@{/filtered-activities-by-date}" method="get" class="flex items-center">                
                    <input type="date" id="date" name="date" class="text-center w-32 h-8 border rounded-md border-gray-800">
                    <button type = "submit" class="w-8 h-8 cursor-pointer">
                        <img src="/images/calendario.png">
                    </button>
                </form>
            </div>


            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 overflow-y-auto scrollbar-hide max-h-72">

                <div th:each="activity : ${activities}">
                    <form th:action="@{'/activities/' + ${activity.id}}" method="get">                        
                        <button type="submit" class="size-full bg-teal-500 p-2">
                            <div class="text-blue-700 text-lg font-semibold mb-2" th:text="${activity.name}"></div>
                            <div class="mx-2 border-l-4 border-blue-700 font-black bg-gray-200 p-1" th:text="${#dates.format(activity.startDate, 'dd/MM/yyyy')}"></div>
                            <div class="flex items-center justify-center space-x-1 mx-2 border-l-4 border-blue-700 bg-slate-50 p-2">
                                <img class="size-6" src="/images/mapas-y-banderas.png">
                                <span th:text="${activity.place}"></span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
