<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Activity Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>


        <div class="space-y-6 mx-8 my-6">
            <label class="p-2 bg-gray-200 text-sm"><span class="text-orange-500">Activities</span><span> > Add Activity</span></label>
            <form class="grid grid-cols-3 gap-20" th:object="${activity}" th:action="@{/activities/create-activity}" method="post">
                <input type=hidden th:field="*{id}">

                <div class="space-y-2">
                    <div class="text-gray-500 text-xl">Information</div>

                    <div class="flex flex-col">
                        <label for="name" class="font-bold">Title</label>                        
                        <input type="text" id="name" class="border p-1 border-gray-800" th:field="*{name}" required>
                    </div>

                    <div class="flex flex-col">
                        <label for="place" class="font-bold">Place</label>
                        <input type="text" id="place" class="border p-1 border-gray-800" th:field="*{place}" required>                        
                    </div>

                    <span class="grid grid-cols-2">
                        <span class="flex flex-col">
                            <label for="startDate" class="font-bold mr-24">Start Date</label>
                            <input type="date" id="startDate" class="border p-1 border-gray-800 mr-2 w-40" th:field="*{startDate}" required>                            
                        </span>

                        <span class="flex flex-col">
                            <label for="endDate" class="font-bold">End Date</label>
                            <input type="date" id="endDate" class="border p-1 border-gray-800 w-40" th:field="*{endDate}" required>
                        </span>
                    </span>

                    <div th:if="${incorrectDate}">
                        <div class="popup">
                            <p class="error-message" style="color: red;">The start date cannot be after the end date.</p>
                        </div>
                    </div>

                    <span class="grid grid-cols-2">
                        <span class="flex flex-col">
                            <label for="isFree" class="font-bold mr-10">Payment Activity</label>
                            <div class="flex flex-row space-x-2">
                                <label for="yes" class="font-bold">Yes</label>
                                <input type="radio" id="isFree" class="border p-1 border-gray-800 mr-2" th:field="*{isFree}" value="true" onclick="togglePaymentOptions(true)">
                                <label for="no" class="font-bold">No</label>
                                <input type="radio" id="isNotFree" class="border p-1 border-gray-800 mr-16" th:field="*{isFree}" value="false" onclick="togglePaymentOptions(false)">
                            </span>
                        </span>

                        <div class="flex flex-col space-y-1">
                            <label for="endDate" class="font-bold">End Date</label>
                            <input type="date" id="endDate" class="border p-1 border-gray-800 max-w-36" th:field="*{endDate}" required>
                            <label for="participantLimit" class="form-label font-bold">Participants</label>
                            <div class="flex flex-row space-x-2">
                                <label for="limited" class="font-bold">Limited</label>
                                <input type="checkbox" id="limited" class="border p-1 border-gray-800" th:field="*{isLimited}" onchange="toggleParticipantsSection()">
                                <span class="flex flex-row" id="participantsSection">
                                    <label for="participantLimit" class="font-bold">Num</label>
                                    <input type="text" id="participantLimit" class="border p-1 w-12 border-gray-800" th:field="*{participantLimit}">
                                </span>
                            </span>
                        </span>
                    </span>

                    <div class="flex flex-row" id="pricePerPersonContainer">
                        <span>
                            <label for="pricePerPerson" class="font-bold">Price per person</label>
                            <input type="text" id="pricePerPerson" class="border p-1 border-gray-800 w-10" th:field="*{pricePerPerson}">
                            <label for="euro" id="euro" class="font-bold">€</label>                        
                        </span>
                    </div>

                    <div class="flex flex-row" id="numberOfPaymentsContainer">
                        <span>
                            <label for="numberOfPayments" class="font-bold">Number of payments</label>
                            <input type="text" id="numberOfPayments" class="border p-1 border-gray-800 w-10" th:field="*{numberOfPayments}">                
                        </span>
                    </div>

                    <div th:if="${incorrectPaymentValue}">
                        <div class="popup">
                            <p class="error-message" style="color: red;">Price per person and number of payments cannot be negative.</p>
                        </div>
                    </div>

                    <div th:if="${incorrectParticipantValue}">
                        <div class="popup">
                            <p class="error-message" style="color: red;">Number of participants must be at least 1.</p>
                        </div>
                    </div>


                </div>

                <!-- Recursos -->
                <div class="space-y-2">
                    <div class="text-gray-500 text-xl mb-8">Resources</div>
                    <div class="flex">
                        <input type="text" id="resource" class="flex-grow border p-1 border-gray-800">
                        <input type="button" id="addResource" class="bg-teal-600 text-white px-1 rounded-md font-bold cursor-pointer" value="Add">
                    </div>
                    <div>
                        <ul id="resourceList" class="border p-1 border-gray-800 h-64">                            
                        </ul>

                        <input type="text" id="resourceListHidden" name="resourceListHidden" class="hidden" th:field="*{resources}">

                    </div>
                </div>

                <!-- Requisitos -->
                <div class="space-y-2">
                    <div class="text-gray-500 text-xl mb-8">Requirements</div>
                    <div class="flex">
                        <input type="text" id="requirement" class="flex-grow border p-1 border-gray-800">
                        <input type="button" id="addRequirement" class="bg-teal-600 text-white px-1 rounded-md font-bold cursor-pointer" value="Add">
                    </div>
                    <div class="pb-10">
                        <ul id="requirementList" class="border p-1 border-gray-800 h-64">                            
                        </ul>

                        <input type="text" id="requirementListHidden" name="requirementListHidden" class="hidden" th:field="*{requirements}">
                    </div>
                    <div class="flex justify-end">
                        <input type="submit" id="submit" class="bg-teal-600 text-white px-4 rounded-t-md rounded-b-md font-bold text-lg cursor-pointer mr-2" value="Accept">
                        <a th:href="@{/activities}" class="bg-red-500 text-white px-4 rounded-t-md rounded-b-md font-bold text-lg cursor-pointer">Cancel</a>
                    </div>
                </div>
            </form>
        </div>

        <script th:src="@{/js/activityForm.js}"></script>
        <script>
            function toggleParticipantsSection() {
                var limitedCheckbox = document.getElementById("limited");
                var participantsSection = document.getElementById("participantsSection");

                if (limitedCheckbox.checked) {
                    participantsSection.style.visibility = 'visible';
                    validateParticipantLimit();
                } else {
                    participantsSection.style.visibility = 'hidden';
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                toggleParticipantsSection();
            });
        </script>

        <script>
            function togglePaymentOptions(isFree) {
                var pricePerPersonContainer = document.getElementById("pricePerPersonContainer");
                var numberOfPaymentsContainer = document.getElementById("numberOfPaymentsContainer");

                if (isFree) {
                    pricePerPersonContainer.style.visibility = 'visible';
                    numberOfPaymentsContainer.style.visibility = 'visible';
                    validatePaymentValues();
                } else {
                    pricePerPersonContainer.style.visibility = 'hidden';
                    numberOfPaymentsContainer.style.visibility = 'hidden';
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                var isFreeValue = document.querySelector('input[name="isFree"]:checked').value;
                togglePaymentOptions(isFreeValue === "true");
                toggleParticipantsSection();
            });
        </script>
    </body>
</html>
