<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Activity Selection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="~{header :: div}"></div>
    <div th:replace="~{nav :: div}"></div>

    <div class="mx-8 my-6 space-y-6">
        <label class="bg-gray-200 p-2 text-sm"><span class="text-orange-500"><a
                    th:href="@{/activities}">Activities</a></span><span
                th:text="' > ' + ${activity.name}"></span></label>

        <div class="flex flex-row space-x-4">
            <div class="size-full bg-teal-500 p-2">
                <div class="mx-2 mb-2 flex justify-between text-lg font-semibold text-blue-700">
                    <span th:text="${activity.name}"></span>
                    <span th:text="'ID: ' + ${activity.id}"></span>
                </div>
                <div class="mx-2 flex justify-between border-l-4 border-blue-700 bg-gray-200 p-1 font-black">
                    <span
                        th:text="'From ' + ${#dates.format(activity.startDate, 'dd/MM/yyyy')} + ' to ' + ${#dates.format(activity.endDate, 'dd/MM/yyyy')}"></span>
                    <span
                        th:text="${activity.pricePerPerson} + ' € / ' + ${activity.numberOfPayments} + ' payments' "></span>
                    <span class="flex items-center justify-center space-x-1">
                        <img class="size-6" src="/images/mapas-y-banderas.png" />
                        <span th:text="${activity.place}"></span>
                    </span>
                    <span th:text="'Capacity: ' + ${activity.participantLimit}"></span>
                </div>
                <div class="mx-2 grid min-h-80 grid-cols-2 space-x-1 border-l-4 border-blue-700 bg-slate-50 p-2">
                    <div>
                        <label class="text-lg font-bold">Resources:</label>
                        <div th:each="resource : ${activity.resources}">
                            <span th:text="${resource}"></span>
                        </div>
                    </div>
                    <div>
                        <label class="text-lg font-bold">Requirements:</label>
                        <div th:each="requirement : ${activity.requirements}">
                            <span th:text="${requirement}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col space-y-4">
                <a th:href="@{'/home/activities/show-participant-list/' + ${activity.id}}"
                    class="flex min-w-36 max-w-36 cursor-pointer items-center items-center justify-center space-x-1 rounded-md bg-neutral-500 py-1">
                    <img class="size-5" src="/images/actividad2.png" />
                    <label class="text-slate-50">Participants</label>
                </a>
                <!-- Botón de edición -->
                <a th:href="@{'/activities/edit-activity/' + ${activity.id}}"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_COORDINATOR'')')}"
                    class="flex min-w-36 max-w-36 cursor-pointer items-center items-center justify-center space-x-1 rounded-md bg-teal-500 py-1">
                    <img class="size-5" src="/images/lapiz.png" />
                    <label class="text-slate-50">Edit</label>
                </a>

                <!-- Botón de eliminación -->
                <form th:action="@{'/activities/delete-activity/' + ${activity.id}}" method="post"
                    th:object="${activity}"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_COORDINATOR'')')}"
                    class="flex min-w-36 max-w-36 cursor-pointer items-center items-center justify-center space-x-1 rounded-md bg-red-500 py-1">
                    <img class="size-5" src="/images/contenedor-de-basura.png" />
                    <input type="submit" value="Delete" class="text-slate-50" onclick="if (!confirm('Are you sure you want to delete this activity?'))
     return false;" />
                </form>

            </div>
        </div>
    </div>
</body>

</html>