<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Customer</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>

        <div class="mx-8 my-6 space-y-16">
            <label class="bg-gray-200 p-2 text-sm"><span class="text-orange-500">Customers</span><span> > Edit
                    Customer</span></label>

            <form th:object="${customer}" th:action="@{/home/customers/update}" method="post" enctype="multipart/form-data"
                  class="grid grid-rows-1">
                <input type="hidden" th:field="*{id}" />
                <div class="flex flex-grow flex-row space-x-10">
                    <!-- Photo -->
                    <div class="space-y-6">
                        <img id="previewImage" class="size-36" th:src="@{'/images/userImages/serve/' + ${customer.photoPath}}">
                        <label for="photo" class="flex min-w-36 max-w-36 bg-teal-500 rounded-md items-center justify-center cursor-pointer items-center py-1">
                            <img class="w-6 h-6 mr-2" src="/images/subir-archivo.png">
                            <span class="text-white">Photo</span>
                        </label>
                        <input type="file" id="photo" name="photo" accept="image/*" class="hidden" onchange="previewImage(this)">
                    </div> 

                    <div class="grid-rows-1 space-y-4">
                        <span class="mr-80 pb-5 text-xl text-gray-500">Personal Information</span>

                        <input type="hidden" th:field="*{photoPath}">

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Name</label>
                            <input type="text" id="name" name="name" class="border border-gray-800 p-1" th:field="*{name}" required />
                        </span>

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Surnames</label>
                            <input type="text" id="surnames" name="surnames" class="border border-gray-800 p-1" th:field="*{surnames}"
                                   required />
                        </span>

                        <span class="flex flex-col">
                            <label for="email" class="font-bold">Email</label>
                            <input type="email" id="email" name="email" class="border border-gray-800 p-1" th:field="*{email}"
                                   required />
                        </span>

                        <span class="flex flex-row">
                            <span class="flex flex-col">
                                <label class="font-bold">Phone</label>
                                <input type="text" id="phone" name="phone" class="border border-gray-800 p-1" th:field="*{phone}"
                                       required />
                            </span>
                            <span class="flex flex-col">
                                <label for="birthDate" class="font-bold">Date of Birth</label>
                                <input type="date" id="birthDate" name="birthDate" class="border p-1 border-gray-800" th:field="*{birthDate}" required>
                            </span>
                        </span>

                        <span class="flex flex-col">
                            <label for="email" class="font-bold">Parent / Guardian Name (if apply)</label>
                            <input type="parentName" id="parentName" name="parentName" class="border border-gray-800 p-1"
                                   th:field="*{parentName}" />
                        </span>

                        <span class="flex flex-col">
                            <label for="dni" class="font-bold">DNI</label>
                            <input type="text" id="dni" name="dni" class="border border-gray-800 p-1" th:field="*{dni}" required />
                        </span>

                        <span class="flex flex-col">
                            <label for="grade" class="font-bold">Grade (if apply)</label>
                            <input type="text" id="course" name="course" class="border border-gray-800 p-1" th:field="*{course}" />
                        </span>

                        <span class="flex flex-row items-center justify-between space-x-4">
                            <label class="font-bold">Type</label>

                            <input type="radio" class="peer/student hidden" id="student" name="type" value="Estudiant" th:field="*{type}" required>
                            <label for="student" class="cursor-pointer border px-1 border-gray-800 bg-gray-200 peer-checked/student:bg-teal-500">Student</label>

                            <input type="radio" class="peer/teacher hidden" id="teacher" name="type" value="Professor" th:field="*{type}" required>
                            <label for="teacher" class="cursor-pointer border px-1 border-gray-800 peer-checked/teacher:bg-teal-500">Teacher</label>

                            <input type="radio" class="peer/neighbor hidden" id="neighbor" name="type" value="Veí"th:field="*{type}" required>
                            <label for="neighbor" class="cursor-pointer border px-1 border-gray-800 bg-gray-200 peer-checked/neighbor:bg-teal-500">Neighbor</label>

                        </span>
                        <!-- ... tus otros campos ... -->

                        <input type="hidden" id="activityNamesString" name="activityNamesString" th:field="*{activityNamesString}">
                        <input type="hidden" id="interests" name="interests" th:field="*{interests}">

                        <!-- ... tus otros campos ... -->

                        <span class="flex flex-row justify-end">
                            <input type="submit"
                                   class="mr-2 cursor-pointer rounded-b-md rounded-t-md bg-teal-600 px-4 text-lg font-bold text-white"
                                   value="Accept" />
                            <a th:href="@{/home/customers}"
                               class="cursor-pointer rounded-b-md rounded-t-md bg-red-500 px-4 text-lg font-bold text-white">Cancel</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <script th:src="@{/js/customerForm.js}"></script>
    </body>

</html>
