<!-- src/main/resources/templates/user-form.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create User</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>

        <div class="mx-8 my-6 space-y-16">
            <label class="bg-gray-200 p-2 text-sm"><span class="text-orange-500">Users</span> > Edit
                Profile<span></span></label>

            <form th:object="${user}" th:action="@{/home/users/update}" method="post" enctype="multipart/form-data"
                  class="grid grid-rows-1">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{role}" />
                <div class="flex flex-grow flex-row space-x-10">
                    <!-- Photo -->
                    <div class="space-y-6">
                        <img class="size-36" src="/images/usuario2.png" />
                        <label for="photo"
                               class="flex min-w-36 max-w-36 cursor-pointer items-center justify-center rounded-md bg-teal-500 py-1">
                            <img class="mr-2 h-6 w-6" src="/images/subir-archivo.png" />
                            <span class="text-white">Photo</span>
                        </label>
                        <input type="file" id="photo" name="photo" accept="image/*" class="hidden" />
                    </div>

                    <div class="grid-rows-1 space-y-4">
                        <span class="mr-80 pb-5 text-xl text-gray-500">Personal Information</span>

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Name</label>
                            <input type="text" id="name" name="name" class="border border-gray-800 p-1" th:field="*{name}" required />
                        </span>

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Surname</label>
                            <input type="text" id="surname" name="surname" class="border border-gray-800 p-1" th:field="*{surname}"
                                   required />
                        </span>

                        <span class="flex flex-col">
                            <label for="email" class="font-bold">Email:</label>
                            <input type="email" id="email" name="email" class="border border-gray-800 p-1" th:field="*{email}"
                                   required />
                        </span>
                        <div id="passwordField" style="display: none">
                            <label for="password" class="font-bold">Contraseña:</label>
                            <input type="password" id="password" name="password" class="border border-gray-800 p-1"
                                   th:field="*{password}" pattern=".{8,}" title="8 characters minimum" />
                        </div>
                        <span class="flex flex-row items-center justify-between space-x-4">
                            <button type="button" id="editPasswordButton"
                                    class="cursor-pointer rounded-b-md rounded-t-md bg-red-500 px-4 text-lg font-bold text-white"
                                    onclick="showPasswordField()">
                                Editar contraseña
                            </button>
                        </span>
                        <!-- Botón para editar la contraseña -->
                        <span class="flex flex-row justify-end">
                            <input type="submit"
                                   class="mr-2 cursor-pointer rounded-b-md rounded-t-md bg-teal-600 px-4 text-lg font-bold text-white"
                                   value="Accept" />
                            <a th:href="@{/home/users}"
                               class="cursor-pointer rounded-b-md rounded-t-md bg-red-500 px-4 text-lg font-bold text-white">Cancel</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <script>
            function showPasswordField() {
                // Muestra el campo de contraseña
                document.getElementById("passwordField").style.display = "block";

                // Cambia el texto y la función del botón
                document.getElementById("editPasswordButton").innerText =
                        "Cancelar edición de contraseña";
                document.getElementById("editPasswordButton").onclick =
                        hidePasswordField;
            }

            function hidePasswordField() {
                // Oculta el campo de contraseña
                document.getElementById("passwordField").style.display = "none";

                // Limpia el campo de contraseña
                document.getElementById("password").value = "";

                // Cambia el texto y la función del botón
                document.getElementById("editPasswordButton").innerText =
                        "Editar contraseña";
                document.getElementById("editPasswordButton").onclick =
                        showPasswordField;
            }
        </script>
    </body>

</html>