<!-- src/main/resources/templates/user-form.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create User</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>

        <div class="space-y-16 mx-8 my-6">
            <label class="p-2 bg-gray-200 text-sm"><span class="text-orange-500">Users</span> > Edit Profile<span></span></label>

            <form th:object="${user}" th:action="@{/home/users/update}" method="post" enctype="multipart/form-data" class="grid grid-rows-1">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{role}">
                <div class="flex flex-row flex-grow space-x-10">

                    <!-- Photo -->
                    <div class="space-y-6">
                        <img class="size-36" src="/images/usuario2.png">
                        <label for="photo" class="flex min-w-36 max-w-36 bg-teal-500 rounded-md items-center justify-center cursor-pointer items-center py-1">
                            <img class="w-6 h-6 mr-2" src="/images/subir-archivo.png">
                            <span class="text-white">Photo</span>
                        </label>
                        <input type="file" id="photo" name="photo" accept="image/*" class="hidden">
                    </div> 

                    <div class="grid-rows-1 space-y-4">    
                        <span class="text-gray-500 text-xl mr-80 pb-5">Personal Information</span>

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Name</label>
                            <input type="text" id="name" name="name" class="border p-1 border-gray-800" th:field="*{name}" required>
                        </span>

                        <span class="flex flex-col">
                            <label for="name" class="font-bold">Surname</label>
                            <input type="text" id="surname" name="surname" class="border p-1 border-gray-800"  th:field="*{surname}" required>
                        </span>

                        <span class="flex flex-col">
                            <label for="email" class="font-bold">Email:</label>
                            <input type="email" id="email" name="email" class="border p-1 border-gray-800" th:field="*{email}" required>
                        </span>
                        <div id="passwordField" style="display: none;">
                            <label for="password" class="font-bold">Contraseña:</label>
                            <input type="password" id="password" name="password" class="border p-1 border-gray-800" th:field="*{password}"  pattern=".{8,}" title="8 characters minimum" required>
                        </div>
                        <span class="flex flex-row space-x-4 items-center justify-between">
                            <button type="button" id="editPasswordButton" class="bg-red-500 text-white px-4 rounded-t-md rounded-b-md font-bold text-lg cursor-pointer" onclick="showPasswordField()">Editar contraseña</button>

                        </span>
                        <!-- Botón para editar la contraseña -->
                        <span class="flex flex-row justify-end">
                            <input type="submit" class="bg-teal-600 text-white px-4 rounded-t-md rounded-b-md font-bold text-lg cursor-pointer mr-2" value="Accept">
                            <a th:href="@{/home/users}" class="bg-red-500 text-white px-4 rounded-t-md rounded-b-md font-bold text-lg cursor-pointer">Cancel</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <script>
            function showPasswordField() {
                // Muestra el campo de contraseña
                document.getElementById('passwordField').style.display = 'block';

                // Cambia el texto y la función del botón
                document.getElementById('editPasswordButton').innerText = 'Cancelar edición de contraseña';
                document.getElementById('editPasswordButton').onclick = hidePasswordField;
            }

            function hidePasswordField() {
                // Oculta el campo de contraseña
                document.getElementById('passwordField').style.display = 'none';

                // Limpia el campo de contraseña
                document.getElementById('password').value = '';

                // Cambia el texto y la función del botón
                document.getElementById('editPasswordButton').innerText = 'Editar contraseña';
                document.getElementById('editPasswordButton').onclick = showPasswordField;
            }
        </script>
    </body>
</html>
