<!-- src/main/resources/templates/error.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <!-- Include Tailwind CSS -->
    <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="~{header :: div}"></div>

    <div class="mx-8 my-6 space-y-6">
        <label class="bg-gray-200 p-2 text-sm"><span class="text-orange-500"><a th:href="@{/home}">Home</a></span> > Error</label>

        <div class="grid grid-rows-1">
            <div class="flex flex-grow flex-row space-x-10">
                <!-- Error message -->
                <div class="space-y-6">
                    <img class="size-36" th:src="@{'/images/error.png'}">
                    <p class="text-red-500 text-xl">An error has occurred.</p>
                </div>

                <div class="grid-rows-1 space-y-4">
                    <div class="mr-80 text-2xl font-bold">Error</div>

                    <div class="mr-80 text-xl text-gray-500">We're sorry, something has gone wrong.</div>

                    <span class="flex flex-col">
                        <label class="font-bold">Error message</label>
                        <label th:text="${errorMessage}"></label>
                    </span>

                    <a th:href="@{/home}" class="flex min-w-36 max-w-36 bg-teal-500 rounded-md items-center justify-center cursor-pointer items-center space-x-1 py-1">
                        <label class="text-slate-50">Go back Home</label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
