<div class="w-screen h-auto flex items-center justify-between text-white px-8 py-4 bg-orange-500">
    <img class="w-48 min-w-48" src="/images/NicolauCopernic-LOGO.png" />
    <h1 class="text-3xl text-center font-bold">ACTIVITIES MANAGEMENT</h1>
    <div class="flex space-x-2 justify-end items-center relative" th:if="${#authorization.expression('isAuthenticated()')}">
        <label th:text="${#authentication.details['name']} + ' ' + ${#authentication.details['surname']}"></label>
        <img class="size-12 rounded-full object-cover" th:src="@{'/images/userImages/serve/' + ${#authentication.details['photoPath']}}">


        <img class="size-4 cursor-pointer" src="/images/flecha-hacia-abajo.png" onclick="toggleDropdown()">
        <div id="dropdown" class="hidden absolute top-full rigth-0 bg-gray-100 min-w-32 shadow-md">
            <form th:action="@{/home/users/{id}(id=${#authentication.details['id']})}" method="GET">
                <input type="submit" value="Perfil" class="w-full py-2 px-4 text-gray-800 hover:bg-gray-200 cursor-pointer" />
            </form>
            <form th:action="@{/my/ownlogout}" method="POST">
                <input type="submit" value="Logout" class="w-full py-2 px-4 text-gray-800 hover:bg-gray-200 cursor-pointer" />
            </form>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown");
            if (dropdown.classList.contains('hidden')) {
                dropdown.classList.remove('hidden');
            } else {
                dropdown.classList.add('hidden');
            }
        }
    </script>

    <div class="w-48 min-w-48 flex space-x-2 justify-center items-center" th:unless="${#authorization.expression('isAuthenticated()')}">
        <!-- Contenido en blanco -->
    </div>

</div>

