<div class="w-screen h-auto flex items-center justify-center text-white p-4 bg-orange-500">
    <img class="w-60 min-w-60" src="/images/NicolauCopernic-LOGO.png">
    <div class="flex-grow">                   
        <h1 class="text-3xl text-center font-bold">ACTIVITIES MANAGEMENT</h1>
    </div>
    <div class="w-60 min-w-60 flex space-x-2 justify-center items-center">
        <label>User</label>
        <img class="size-12" src="/images/usuario.png">
        <img class="size-4" src="/images/flecha-hacia-abajo.png">
    </div>
</div>