<div class="border-b-4 border-teal-500">
    <ul class="flex space-x-16 pl-4 py-2 text-neutral-500 font-bold">
        <li class="flex flex-row space-x-2">
            <img class="size-6" src="/images/usuario.png">
            <a th:href="@{/}" class="">Users</a>
        </li>
        <li class="flex flex-row space-x-2">
            <img class="size-6" src="/images/crm.png">
            <a th:href="@{/pagina1}" class="">Customers</a>
        </li>
        <li class="flex flex-row space-x-2">
            <img class="size-6" src="/images/actividad.png">
            <a th:href="@{/pagina2}" class="">Activities</a>
        </li>
        <li class="flex flex-row space-x-2">
            <img class="size-6" src="/images/mensajes.png">
            <a th:href="@{/pagina3}" class="">Communications</a>
        </li>
    </ul>
</div>