<div class="border-b-4 border-teal-500">
    <ul class="flex flex-row px-8 font-bold text-neutral-500">
        <li class="flex space-x-2 px-6 py-2 hover:bg-teal-500"
            sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_ACTIVITIES_COORDINATOR')">
            <img class="size-6" src="/images/usuario.png" />
            <a th:href="@{/home/users}" class="">Users</a>
        </li>
        <li class="flex space-x-2 px-6 py-2 hover:bg-teal-500">
            <img class="size-6" src="/images/crm.png" />
            <a th:href="@{/home/customers}">Customers</a>
        </li>
        <li class="flex space-x-2 px-6 py-2 hover:bg-teal-500">
            <img class="size-6" src="/images/actividad.png" />
            <a th:href="@{/activities}" class="">Activities</a>
        </li>
        <li class="flex space-x-2 px-6 py-2 hover:bg-teal-500" sec:authorize="!hasAuthority('ROLE_CONCIERGE')">
            <img class="size-6" src="/images/mensajes.png" />
            <a th:href="@{/home/communications/inbox}" class="">Communications</a>
        </li>
    </ul>
</div>