<div class="grid w-9/12 grid-rows-1">
    <span class="mb-2 grid grid-cols-3 px-2 text-lg font-bold text-slate-500">
        <label>Subject</label>
        <label>To</label>
        <label>Date</label>
    </span>

    <div th:each="message : ${messages}">
        <span class="grid grid-cols-3 px-2 py-1">
            <span class="flex flex-row items-center space-x-3 font-semibold">
                <label th:text="${message.subject}"></label>
            </span>
            <span class="flex flex-row items-center">
                <div th:each="user : ${message.userRecipients}">
                    <p th:text="${user.name}"></p>
                </div>
            </span>
            <span class="flex flex-row items-center justify-between">

                <a th:href="@{'/home/communications/message-overview/' + ${message.id}}"
                   class="flex items-center space-x-1 rounded-md bg-teal-500 px-2 py-1 text-slate-50">
                    <img class="size-5" src="/images/sobre-nosotros.png" />
                    <label>Show Message</label>
                </a>
            </span>
        </span>
    </div>
</div>