<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User List</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>

        <div class="mx-8 my-6 space-y-6">
            <label class="bg-gray-200 p-2 text-sm">
                <span class="text-orange-500">
                    <a th:href="@{/activities}">Activities</a>
                </span>
                <span th:text="' > ' + ${activity.name} + ' > Participant List'"></span>
            </label>

            <div class="grid w-9/12 grid-rows-1">
                <span class="mb-2 grid grid-cols-4 px-2 text-lg font-bold text-slate-500">
                    <label>Name/Surname</label>
                    <label>Type</label>
                    <label>Grade</label>
                </span>

                <div th:each="customer : ${customers}">
                    <span class="grid grid-cols-4 px-2 py-1">
                        <span class="flex flex-row items-center space-x-3 font-semibold">
                            <img class="size-9" th:src="@{'/images/userImages/serve/' + ${customer.photoPath}}" />
                            <label th:text="${customer.name} + ' ' + ${customer.surnames}"></label>
                        </span>
                        <span class="flex flex-row items-center">
                            <label th:text="${customer.type}"></label>
                        </span>
                        <span class="flex flex-row items-center">
                            <label th:text="${customer.course}"></label>                            
                        </span>
                        <span class="flex flex-row items-center">
                            <a th:href="@{'/home/customers/' + ${customer.id}}"
                               class="flex items-center space-x-1 rounded-md bg-teal-500 px-2 py-1 text-slate-50">
                                <img class="size-5" src="/images/sobre-nosotros.png" />
                                <label>Overview</label>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </body>

</html>
