<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User List</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="header :: div"></div>
        <div th:replace="nav :: div"></div>

        <div class="space-y-6 mx-8 my-6">
            <label class="p-2 text-orange-500 bg-gray-200 text-sm">Customers</label>
            <div class="flex items-center justify-end">
                <form class="flex items-center">
                    <input type="text" id="text" name="text" class="w-80 h-10 border border-gray-800 rounded-md">
                    <button class="w-10 h-10 cursor-pointer rounded-md bg-teal-500"><img src="/images/lupa.png"></button>
                </form>
            </div>

            <form th:action="@{/home/customers/show-participant-list}">
                <div class="grid grid-rows-1 w-9/12">
                    <span class="grid grid-cols-4 text-lg font-bold text-slate-500 px-2 mb-2">
                        <label>Name/Surname</label>
                        <label>Type</label>
                        <label>Grade</label>
                        <button type="submit" class="flex max-w-28 bg-red-500 rounded-md items-center justify-center cursor-pointer space-x-1" onclick="if (!confirm('Are you sure you want to unenroll the selection?'))
                                    return false;">
                            <img class="size-5" src="/images/contenedor-de-basura.png">
                            <span class="text-slate-50">Unenroll</span>
                        </button>
                    </span>

                    <div th:each="customer : ${customers}">
                        <span class="grid grid-cols-4 py-1 px-2">
                            <span class="flex flex-row items-center space-x-3 font-semibold">
                                <img class ="size-9" th:src="@{${customer.photoPath}}">
                                <label th:text="${customer.name}"></label>
                            </span>
                            <span class="flex flex-row items-center">
                                <label th:text="${customer.type}"></label>
                            </span>
                            <span class="flex flex-row items-center justify-between">
                                <label th:text="${customer.grade}"></label>
                                <a th:href="@{'/home/customers/' + ${customer.id}}" class="flex items-center space-x-1 bg-teal-500 rounded-md text-slate-50 px-2 py-1">
                                    <img class="size-5" src="/images/sobre-nosotros.png">
                                    <label>Overview</label>
                                </a>
                            </span>
                            <span>
                                <input type="checkbox" th:id="${customer.id}" name="participantList">
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
