<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User List</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="header :: div"></div>
        <div th:replace="nav :: div"></div>

        <div class="mx-8 my-6 space-y-6">
            <label class="bg-gray-200 p-2 text-sm text-orange-500">Customers</label>
            <div class="flex items-center justify-end">
                <form class="flex items-center">
                    <input type="text" id="text" name="text" class="h-10 w-80 rounded-md border border-gray-800" />
                    <button class="h-10 w-10 cursor-pointer rounded-md bg-teal-500">
                        <img src="/images/lupa.png" />
                    </button>
                </form>
            </div>

            <form th:action="@{/home/customers/show-participant-list}">
                <div class="grid w-9/12 grid-rows-1">
                    <span class="mb-2 grid grid-cols-4 px-2 text-lg font-bold text-slate-500">
                        <label>Name/Surname</label>
                        <label>Type</label>
                        <label>Grade</label>
                        <button type="submit"
                                class="flex max-w-28 cursor-pointer items-center justify-center space-x-1 rounded-md bg-red-500" onclick="if (!confirm('Are you sure you want to unenroll the selection?'))
                                            return false;">
                            <img class="size-5" src="/images/contenedor-de-basura.png" />
                            <span class="text-slate-50">Unenroll</span>
                        </button>
                    </span>

                    <div th:each="customer : ${customers}">
                        <span class="grid grid-cols-4 px-2 py-1">
                            <span class="flex flex-row items-center space-x-3 font-semibold">
                                <img class="size-9" th:src="@{${customer.photoPath}}" />
                                <label th:text="${customer.name}"></label>
                            </span>
                            <span class="flex flex-row items-center">
                                <label th:text="${customer.type}"></label>
                            </span>
                            <span class="flex flex-row items-center justify-between">
                                <label th:text="${customer.grade}"></label>
                                <a th:href="@{'/home/customers/' + ${customer.id}}"
                                   class="flex items-center space-x-1 rounded-md bg-teal-500 px-2 py-1 text-slate-50">
                                    <img class="size-5" src="/images/sobre-nosotros.png" />
                                    <label>Overview</label>
                                </a>
                            </span>
                            <span>
                                <input type="checkbox" th:id="${customer.id}" name="participantList" />
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>