<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User List</title>
        <!-- Include Tailwind CSS -->
        <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{header :: div}"></div>
        <div th:replace="~{nav :: div}"></div>


        <div class="space-y-6 mx-8 my-6">
            <label class="p-2 text-orange-500 bg-gray-200 text-sm">Users</label>
            <div class="flex items-center">
                <form th:action="@{/home/users/user-form}" method="get" class="flex flex-grow items-center">
                    <button type="submit" class="w-10 h-10 cursor-pointer"><img src="/images/anadir.png"></button>
                </form>

                 <form th:action="@{/filtered-users-by-name}" method="get" class="flex items-center">
                    
                     <input type="text" id="name" name="name" class="w-80 h-10 border border-gray-800 rounded-md">
                    <button class="w-10 h-10 cursor-pointer rounded-md bg-teal-500"><img src="/images/lupa.png"></button>
                </form>
            </div>

            <div class="grid grid-rows-1 w-9/12">
                <span class="grid grid-cols-2 text-lg font-bold text-slate-500 px-2 mb-2">
                    <label>Name/Surname</label>
                    <label>Role</label>
                </span>

                <div th:each="user : ${users}">
                    <span class="grid grid-cols-2 py-1 px-2">
                        <span class="flex flex-row items-center space-x-3 font-semibold">
                            <img class ="size-9" th:src="@{'/images/userImages/serve/' + ${user.photoPath}}">
                            <label th:text="${user.name}"></label>
                        </span>
                        <span class="flex flex-row items-center justify-between">
                            <label th:text="${user.role}"></label>
                            <a th:href="@{'/home/users/' + ${user.id}}" class="flex items-center space-x-1 bg-teal-500 rounded-md text-slate-50 px-2 py-1">
                                <img class="size-5" src="/images/sobre-nosotros.png">
                                <label>Overview</label>
                            </a>
                        </span>
                    </span>
                </div>

            </div>
        </div>
    </body>
</html>
